@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Heebo&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

@media screen and (min-width: 990px) {
  #button {
    display: none;
  }
}


.name {
  margin-right: 15px;
}

.news{
  /* background-color:rgb(105, 23, 143) */
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,47,12,1) 0%, rgba(83,16,103,1) 100%);
}

@media(min-width: 768px){
  #news-input{
    width: 50%;
  }
}

p{
  font-weight: 500px;
  font-family:monospace
  font-weight: bold;
}

span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-color{
background: rgb(2,0,36);
background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(13,17,12,1) 66%, rgba(105,105,125,1) 100%, rgba(178,170,181,1) 100%);
}

.intro {
  display : flex;
  justify-content: space-between;
  align-items: center;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,47,12,1) 0%, rgba(83,16,103,1) 100%);
}

.about-me{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 20%, rgb(9, 22, 8) 50%, rgb(47, 32, 51) 100%);
}

.btn-more{
  background-color:rgb(246, 247, 228);
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
}

.btn-more:hover{
  background-color:rgb(145, 146, 132);
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.about{
  font-family: 'Heebo', sans-serif;
  font-size: large;
  padding-bottom: 8px;
}

.exp{
  background-color: rgba(42,53,62,0.4);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 0px 30px 45px rgba(22, 22, 22, 0.15);
}

.exp-number{
  margin-top: 20px;
  margin-bottom: -3px;
}

.section-title{
  padding-bottom: 4rem;
  position: relative;
}

.sub-title{
  color: #009bf9;
  font-size: 16px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

/* .wrapper{
  width: 700px;
  margin-left: 200px ;
} */
.button-btn{
  display: flex;
  column-gap: 20px;
}
  



#button-btn button  {
  --text-base: 116deg, 55%, 40%;
  --text-hover: 116deg, 72%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 282deg, 90%, 50%;
  --shadow-inner: 116deg, 90%, 62%;
  all: unset;
  color: hsla(var(--text-base), );
  font: 700 1.125rem/1.2 'Poppins', sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.7em;
  max-width: 50%;
  width: 8em;
  background: inherit;
  background-clip: padding-box;
  border: 3px solid hsla(var(--text-base), 1);
  border-radius: 1em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}
#button-btn button::before, #button-btn button::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
#button-btn button::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}
#button-btn button::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #ffffff;
  mix-blend-mode: overlay;
  opacity: 0;
}
#button-btn button:hover, #button-btn button:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}
#button-btn button:hover::before, #button-btn button:hover::after, #button-btn button:focus::before, #button-btn button:focus::after {
  transform: none;
  opacity: 1;
}

/* html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  place-content: center;
  place-items: center;
}

body,
.container {
  background: hsla(var(--page-background), 1);
}

.container {
  padding: 3em;
  position: relative;
  z-index: 1;
} */

/* .icons {
	display: flex;
	column-gap: 25px;
}
.icon {
	display: inline-flex;
	width: 35px;
	height: 35px;
	text-decoration: none;
  padding-top: 1.2px;
  padding-left: 2px;
	font-size: 22px;
	color: #fff;
	border-radius: 50%;
	outline: 2px solid #fff;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}
.icon:hover {
	outline-offset: 4px;
}
.icon i {
	margin: auto;
}
.icon:hover i {
	animation: shake 0.25s;
}
.icon--instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}
.icon--twitter:hover {
	background-color: #1da1f2;
	outline-color: #1da1f2;
}
.icon--linkedin:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}
.icon--github:hover {
	background-color: #2ea44f;
	outline-color: #2ea44f;
}
@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
} */

.button-btn{
  display: inline-flex;
  
}

#button-res button  {
  --text-base: 116deg, 55%, 40%;
  --text-hover: 116deg, 72%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 282deg, 90%, 50%;
  --shadow-inner: 116deg, 90%, 62%;
  all: unset;
  color: hsla(var(--text-base), );
  font: 700 1.125rem/1.2 'Poppins', sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.7em;
  max-width: 50%;
  width: 12em;
  background: inherit;
  background-clip: padding-box;
  border: 3px solid hsla(var(--text-base), 1);
  border-radius: 1em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}
#button-res button::before, #button-res button::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
#button-res button::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}
#button-res button::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #ffffff;
  mix-blend-mode: overlay;
  opacity: 0;
}
#button-res button:hover, #button-res button:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}
#button-res button:hover::before, #button-res button:hover::after, #button-res button:focus::before, #button-res button:focus::after {
  transform: none;
  opacity: 1;
}